@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:"Poppins", sans-serif ;
    
}

body{
    background: #222;
}
.container{
width: 90%;
max-width: 470px;
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
border-radius: 20px;
color: #fff;
margin: 60px auto 0;
padding: 40px 35px;
text-align: center;
}
.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search input{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;

}
.search button{
    cursor: pointer;
    border-radius: 50%;
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    width: 60px;
    height: 60px;
}
.search button img{
    width: 16px;
}
.icon{
    width: 170px;
    margin-top: 20px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 40px;
    font-weight: 400;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
    margin-top: 50px;
}
.column{
    display: flex;
    align-items: center;
    text-align: left;

}
.column img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -10px;
}
.invalid{
    color: red;
    font-size:20px;
    text-align: left;
    margin: 10px 5px;
    display: none;
}
.weather{
    display: none;
}

@media (max-width:500px) {
   .details{
    display: flex;
    flex-direction: column;
    gap: 20px;
   }
   
}

@media (max-width:380px) {
    .search input{
        padding:5px 15px;
        height: 50px;
        margin-right: 5px;
        margin-left: -15px;
        width: 10px;
    }
    .search button {
        height: 50px;
        width: 50px;
        position: relative;
        left: -56px;
    }
    
   
 }
